header > .row   {
    margin-right: 10px;
}
header > .row .header-menu button.menu svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
header .row .header-menu button.tub  svg {
    color: red;
    width: 32px;
    height: 32px;
}
header > .row .header-menu h2 {
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
}
header > .row .header-menu h2 sup {
    font-weight: normal;
    font-size: 1rem;
}
header > .row  .search > div {
    position: relative;
}
header > .row  .search > div input {
    border-radius: var(--border-radius);
}
header > .row  .search > div input:focus {
    outline: none;
    border: var(--border);
    box-shadow: none;
}
header > .row  .search > div {
    position: relative;
}
header > .row  .search > div button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 4rem;
    border-left: var(--border);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    transition: .5s;
}
header > .row  .search > div button:hover {
    background-color: var(--hover);
}
header > .row   .search button {
    margin-left: 10px;
}
header > .row   .search button svg {
    width: 20px;
    height: 20px;
}
header > .row .more > div {
    position: relative;
}
header > .row .more > .signIn {
    margin-left: 10px;
}
header > .row .more > div button svg {
    width: 20px;
    height: 20px;
}